@model StudentResultManagement.Models.Mark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exam.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarksObtained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarksObtained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAbsent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAbsent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
